Repository avi-biton/task-test: changes, and which Tekton pipelines are due for each by the changed paths.
All: echo-v03-on-pull-request, yet-another-v01-on-pull-request

Path conditions:
  echo-v03-on-pull-request: (any of: task/echo/0.3/***) or (any of: .tekton/echo-v03-pull-request.yaml)
  yet-another-v01-on-pull-request: (any of: task/yet-another/0.1/***) or (any of: .tekton/yet-another-v01-pull-request.yaml)

update 2 tasks
  task/echo/0.1/echo.yaml
  task/two-tasks/0.1/first.yaml
Due: none

update
  managed/tkn-bundle/tkn-bundle_annotations.yaml
  task/two-tasks/0.1/first.yaml
Due: none

OpenShift Pipelines Avi update yet-another-v01 Signed-off-by: openshift-pipelines-avi <konflux@no-reply.konflux-ci.dev>
  .tekton/yet-another-v01-pull-request.yaml
  .tekton/yet-another-v01-push.yaml
  managed/tkn-bundle/tkn-bundle.yaml
  managed/tkn-bundle/tkn-bundle_annotations-oci-ta.yaml
Due: yet-another-v01-on-pull-request

OpenShift Pipelines Avi purge yet-another-v01 Signed-off-by: openshift-pipelines-avi <konflux@no-reply.konflux-ci.dev>
  .tekton/yet-another-v01-pull-request.yaml
  .tekton/yet-another-v01-push.yaml
Due: yet-another-v01-on-pull-request

OpenShift Pipelines Avi update yet-another-v01 Signed-off-by: openshift-pipelines-avi <konflux@no-reply.konflux-ci.dev>
  .tekton/yet-another-v01-pull-request.yaml
  .tekton/yet-another-v01-push.yaml
  managed/tkn-bundle/tkn-bundle_annotations-oci-ta.yaml
Due: yet-another-v01-on-pull-request

annotations output
  managed/tkn-bundle/tkn-bundle_annotations-oci-ta.yaml
  task/yet-another/0.1/yet-another.yaml
Due: yet-another-v01-on-pull-request

add kustomize and update tasks
  managed/tkn-bundle/tkn-bundle-oci-ta.yaml
  managed/tkn-bundle/tkn-bundle.yaml
  managed/tkn-bundle/tkn-bundle_annotations-oci-ta.yaml
  managed/tkn-bundle/tkn-bundle_annotations.yaml
  task/kustomized-echo-task/0.1/README.md
  task/kustomized-echo-task/0.1/kustomization.yaml
  task/kustomized-echo-task/0.1/kustomized-echo-task.yaml
  task/kustomized-echo-task/0.1/patch.yaml
Due: none

OpenShift Pipelines Avi update kustomized-echo-task-v01 Signed-off-by: openshift-pipelines-avi <konflux@no-reply.konflux-ci.dev>
  .tekton/kustomized-echo-task-v01-pull-request.yaml
  .tekton/kustomized-echo-task-v01-push.yaml
  managed/tkn-bundle/tkn-bundle-oci-ta.yaml
  managed/tkn-bundle/tkn-bundle.yaml
Due: none

OpenShift Pipelines Avi update echo-v02 Signed-off-by: openshift-pipelines-avi <konflux@no-reply.konflux-ci.dev>
  .tekton/echo-v02-pull-request.yaml
  .tekton/echo-v02-push.yaml
Due: none

remove v02
  .tekton/echo-v02-pull-request.yaml
  .tekton/echo-v02-push.yaml
Due: none

rebase tasks to include kustomization
  managed/tkn-bundle/tkn-bundle-oci-ta.yaml
  managed/tkn-bundle/tkn-bundle.yaml
Due: none

OpenShift Pipelines Avi update ku Signed-off-by: openshift-pipelines-avi <konflux@no-reply.konflux-ci.dev>
  .tekton/ku-pull-request.yaml
  .tekton/ku-push.yaml
Due: none

OpenShift Pipelines Avi update kustomized-echo-task-v01 Signed-off-by: openshift-pipelines-avi <konflux@no-reply.konflux-ci.dev>
  .tekton/kustomized-echo-task-v01-pull-request.yaml
  .tekton/kustomized-echo-task-v01-push.yaml
Due: none

align all tasks and pipelines
  .tekton/echo-v01-pull-request.yaml
  .tekton/echo-v01-push.yaml
  .tekton/echo-v03-pull-request.yaml
  .tekton/echo-v03-push.yaml
  .tekton/two-tasks-v01-pull-request.yaml
  .tekton/two-tasks-v01-push.yaml
  .tekton/yet-another-v01-pull-request.yaml
  .tekton/yet-another-v01-push.yaml
  managed/tkn-bundle/tkn-bundle-oci-ta.yaml
  managed/tkn-bundle/tkn-bundle.yaml
Due: echo-v03-on-pull-request, yet-another-v01-on-pull-request

OpenShift Pipelines Avi update echo-v03 Signed-off-by: openshift-pipelines-avi <konflux@no-reply.konflux-ci.dev>
  .tekton/echo-v03-pull-request.yaml
  .tekton/echo-v03-push.yaml
Due: echo-v03-on-pull-request

test-kustom
  managed/tkn-bundle/tkn-bundle-oci-ta.yaml
  task/kustomized-echo-task/0.1/kustomization.yml
  task/kustomized-echo-task/0.1/kustomized-echo-task.yaml
Due: none

OpenShift Pipelines Avi update echo-v01 Signed-off-by: openshift-pipelines-avi <konflux@no-reply.konflux-ci.dev>
  .tekton/echo-v01-pull-request.yaml
  .tekton/echo-v01-push.yaml
Due: none

OpenShift Pipelines Avi purge echo-v01 Signed-off-by: openshift-pipelines-avi <konflux@no-reply.konflux-ci.dev>
  .tekton/echo-v01-pull-request.yaml
  .tekton/echo-v01-push.yaml
Due: none

chore: update task
  task/echo/0.1/echo.yaml
Due: none

demo
  task/echo/0.1/echo.yaml
Due: none

add v-02
  .tekton/echo-v02-pull-request.yaml
  .tekton/echo-v02-push.yaml
Due: none

OpenShift Pipelines Avi update echo-v02
  .tekton/echo-v02-pull-request.yaml
  .tekton/echo-v02-push.yaml
Due: none
