Repository avi-biton/task-test: changes, and which Tekton pipelines are due for each by the changed paths.
All: echo-v03-on-pull-request, yet-another-v01-on-pull-request

Path conditions:
  echo-v03-on-pull-request: (any of: task/echo/0.3/***) or (any of: .tekton/echo-v03-pull-request.yaml)
  yet-another-v01-on-pull-request: (any of: task/yet-another/0.1/***) or (any of: .tekton/yet-another-v01-pull-request.yaml)

update task and plr
  .tekton/echo-v01-push.yaml
  .tekton/yet-another-v01-push.yaml
  task/echo/0.1/echo.yaml
  task/echo/0.2/echo.yaml
  task/echo/0.3/echo.yaml
  task/yet-another/0.1/yet-another.yaml
Due: echo-v03-on-pull-request, yet-another-v01-on-pull-request

update rpa
  managed/rpa.yaml
  task/echo/0.1/echo.yaml
  task/echo/0.2/echo.yaml
  task/echo/0.3/echo.yaml
  task/yet-another/0.1/yet-another.yaml
Due: echo-v03-on-pull-request, yet-another-v01-on-pull-request

annotations
  .tekton/echo-v01-pull-request.yaml
  managed/tkn-bundle/tkn-bundle_annotations.yaml
Due: none

source
  managed/tkn-bundle/tkn-bundle-oci-ta.yaml
  managed/tkn-bundle/tkn-bundle.yaml
  task/echo/0.1/echo.yaml
  task/yet-another/0.1/yet-another.yaml
Due: yet-another-v01-on-pull-request

source
  .tekton/echo-v01-pull-request.yaml
  managed/tkn-bundle/tkn-bundle-oci-ta.yaml
  managed/tkn-bundle/tkn-bundle.yaml
  task/echo/0.1/echo.yaml
  task/yet-another/0.1/yet-another.yaml
Due: yet-another-v01-on-pull-request

test tasks
  managed/tkn-bundle/tkn-bundle-oci-ta.yaml
  managed/tkn-bundle/tkn-bundle.yaml
  task/yet-another/0.1/yet-another.yaml
Due: yet-another-v01-on-pull-request

OpenShift Pipelines Avi purge yet-another-v01 Signed-off-by: openshift-pipelines-avi <konflux@no-reply.konflux-ci.dev>
  .tekton/yet-another-v01-pull-request.yaml
  .tekton/yet-another-v01-push.yaml
Due: yet-another-v01-on-pull-request

test without yet-another
  task/echo/0.1/echo.yaml
Due: none

OpenShift Pipelines Avi update echo-v01 Signed-off-by: openshift-pipelines-avi <konflux@no-reply.konflux-ci.dev>
  .tekton/echo-v01-pull-request.yaml
  .tekton/echo-v01-push.yaml
Due: none

new laptop
  task/echo/0.1/echo.yaml
Due: none

OpenShift Pipelines Avi update yet-another-v01 Signed-off-by: openshift-pipelines-avi <konflux@no-reply.konflux-ci.dev>
  .tekton/yet-another-v01-pull-request.yaml
  .tekton/yet-another-v01-push.yaml
Due: yet-another-v01-on-pull-request

OpenShift Pipelines Avi update yet-another-v01 Signed-off-by: openshift-pipelines-avi <konflux@no-reply.konflux-ci.dev>
  .tekton/echo-v02-pull-request.yaml
  .tekton/yet-another-v01-pull-request.yaml
  .tekton/yet-another-v01-push.yaml
  hack/trusted-tasks-update.sh
Due: yet-another-v01-on-pull-request

add annotations to echo-v01
  .tekton/echo-v01-pull-request.yaml
  .tekton/echo-v01-push.yaml
  managed/tkn-bundle/tkn-bundle.yaml
  managed/tkn-bundle/tkn-bundle_annotations.yaml
Due: none

OpenShift Pipelines Avi purge echo-v01 Signed-off-by: openshift-pipelines-avi <konflux@no-reply.konflux-ci.dev>
  .tekton/echo-v01-pull-request.yaml
  .tekton/echo-v01-push.yaml
Due: none

OpenShift Pipelines Avi update echo-v01 Signed-off-by: openshift-pipelines-avi <konflux@no-reply.konflux-ci.dev>
  .tekton/echo-v01-pull-request.yaml
  .tekton/echo-v01-push.yaml
  managed/tkn-bundle/tkn-bundle.yaml
  managed/tkn-bundle/tkn-bundle_annotations.yaml
Due: none

update v01
  task/echo/0.1/echo.yaml
Due: none

test annotations
  task/echo/0.1/echo.yaml
Due: none

OpenShift Pipelines Avi update echo-v02 Signed-off-by: openshift-pipelines-avi <konflux@no-reply.konflux-ci.dev>
  .tekton/echo-v02-pull-request.yaml
  .tekton/echo-v02-push.yaml
Due: none

OpenShift Pipelines Avi update echo-v03 Signed-off-by: openshift-pipelines-avi <konflux@no-reply.konflux-ci.dev>
  .tekton/echo-v03-pull-request.yaml
  .tekton/echo-v03-push.yaml
Due: echo-v03-on-pull-request

update version and check annotations
  .tekton/echo-v02-pull-request.yaml
  .tekton/echo-v02-push.yaml
  .tekton/echo-v03-pull-request.yaml
  .tekton/echo-v03-push.yaml
  managed/tkn-bundle/tkn-bundle_annotations.yaml
  task/echo/0.1/echo.yaml
  task/echo/0.2/echo.yaml
  task/echo/0.3/echo.yaml
  task/yet-another/0.1/yet-another.yaml
Due: echo-v03-on-pull-request, yet-another-v01-on-pull-request

test only 01
  task/echo/0.1/echo.yaml
Due: none

add 2 tasks
  task/two-tasks/0.1/README.md
  task/two-tasks/0.1/first.yaml
  task/two-tasks/0.1/second.yaml
Due: none

OpenShift Pipelines Avi update two-tasks-v01 Signed-off-by: openshift-pipelines-avi <konflux@no-reply.konflux-ci.dev>
  .tekton/two-tasks-v01-pull-request.yaml
  .tekton/two-tasks-v01-push.yaml
  managed/tkn-bundle/tkn-bundle_annotations.yaml
  task/two-tasks/0.1/first.yaml
  task/two-tasks/0.1/second.yaml
Due: none

update-annotations
  managed/tkn-bundle/tkn-bundle_annotations.yaml
  task/echo/0.2/echo.yaml
  task/echo/0.3/echo.yaml
  task/two-tasks/0.1/first.yaml
  task/yet-another/0.1/yet-another.yaml
Due: echo-v03-on-pull-request, yet-another-v01-on-pull-request

OpenShift Pipelines Avi update echo-v01 Signed-off-by: openshift-pipelines-avi <konflux@no-reply.konflux-ci.dev>
  .tekton/echo-v01-pull-request.yaml
  .tekton/echo-v01-push.yaml
  managed/tkn-bundle/tkn-bundle_annotations.yaml
Due: none

update
  task/echo/0.1/echo.yaml
Due: none

OpenShift Pipelines Avi update two Signed-off-by: openshift-pipelines-avi <konflux@no-reply.konflux-ci.dev>
  .tekton/two-pull-request.yaml
  .tekton/two-push.yaml
Due: none

OpenShift Pipelines Avi update two-tasks-v01 Signed-off-by: openshift-pipelines-avi <konflux@no-reply.konflux-ci.dev>
  .tekton/two-tasks-v01-pull-request.yaml
  .tekton/two-tasks-v01-push.yaml
Due: none

update two
  task/two-tasks/0.1/first.yaml
Due: none

update
  .tekton/two-tasks-v01-push.yaml
Due: none

update
  task/two-tasks/0.1/first.yaml
Due: none

update annotations two-tasks
  task/two-tasks/0.1/first.yaml
Due: none
